.main {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

/* #Background*/
.background {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* #Foreground*/
.foreground {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  color: aliceblue;
  font-size: 7rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  font-family: "Bumbon";
  font-weight: bold;
}

.tagline {
  color: aliceblue;
  font-size: 1.5rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Genera";
}
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
