.header {
  height: 5rem;
  width: 100%;
  background-color: grey;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;

  list-style-type: none;
}

.listItem {
  margin-left: 3rem;
}
